process {

  executor='slurm'

  withName: 'trimming' {
    clusterOptions = '--account=nn10082k --job-name=trim'
    cpus = 16
    memory = '20 GB'
    time = 12
  }

  withName: 'align' {
    clusterOptions = '--account=nn10082k --job-name=align'
    cpus = 16
    memory = '20 GB'
    time = 18
  }
  
  withName: 'align_downsample' {
    clusterOptions = '--account=nn10082k --job-name=align_downsample'
    cpus = 1
    memory = '12 GB'
    time = 12
  }

  withName: 'merge_sort' {
    clusterOptions = '--account=nn10082k --job-name=merge_sort'
    cpus = 8
    memory = '20 GB'
    time = 18
  }

  withName: 'mark_dup' {
    clusterOptions = '--account=nn10082k --job-name=mark_dup'
    cpus = 1
    memory = '20 GB'
    time = 18
  }

  withName: 'cram_convert' {
    clusterOptions = '--account=nn10082k --job-name=cram_convert'
    cpus = 4
    memory = '20 GB'
    time = 18
  }

  withName: 'calc_stats' {
    clusterOptions = '--account=nn10082k --job-name=calc_stats'
    cpus = 4
    memory = '12 GB'
    time = 12
  }

  withName: 'genotyping' {
    clusterOptions = '--account=nn10082k --job-name=geno'
    cpus = 8
    memory = '20 GB'
    time = 24
  }

  withName: 'vcf_concat' {
    clusterOptions = '--account=nn10082k --job-name=concat'
    cpus = 8
    memory = '10 GB'
    time = 24
  }

  withName: 'vcf_normalise' {
    clusterOptions = '--account=nn10082k --job-name=norm'
    cpus = 8
    memory = '10 GB'
    time = 24
  }

  withName: 'vcf_reheader' {
    clusterOptions = '--account=nn10082k --job-name=reheader'
    cpus = 4
    memory = '10 GB'
    time = 12
  }

  withName: 'rm_indel' {
    clusterOptions = '--account=nn10082k --job-name=rm_indel'
    cpus = 4
    memory = '12 GB'
    time = 12
  }

  withName: 'vcf_filter' {
    clusterOptions = '--account=nn10082k --job-name=filter'
    cpus = 4
    memory = '12 GB'
    time = 12
  }
  
}
