process {

  executor='slurm'

  withName: 'trimming' {
    clusterOptions = '--account=nn10082k --job-name=trim'
    cpus = 1
    memory = '20 GB'
    time = 12
  }

  withName: 'align' {
    clusterOptions = '--account=nn10082k --job-name=trim'
    cpus = 16
    memory = '20 GB'
    time = 18
  }

  withName: 'cram_convert' {
    clusterOptions = '--account=nn10082k --job-name=cram_convert'
    cpus = 1
    memory = '20 GB'
    time = 18
  }

  withName: 'merge_sort' {
    clusterOptions = '--account=nn10082k --job-name=merge_sort'
    cpus = 1
    memory = '20 GB'
    time = 18
  }

  withName: 'mark_dup' {
    clusterOptions = '--account=nn10082k --job-name=mark_dup'
    cpus = 1
    memory = '20 GB'
    time = 18
  }

  withName: 'calc_stats' {
    clusterOptions = '--account=nn10082k --job-name=calc_stats'
    cpus = 1
    memory = '12 GB'
    time = 12
  }

  withName: 'genotyping' {
    clusterOptions = '--account=nn10082k --job-name=geno'
    cpus = 4
    memory = '20 GB'
    time = 24
  }

  withName: 'vcf_concat' {
    clusterOptions = '--account=nn10082k --job-name=concat'
    cpus = 4
    memory = '10 GB'
    time = 24
  }

  withName: 'norm' {
    clusterOptions = '--account=nn10082k --job-name=norm1'
    cpus = 4
    memory = '10 GB'
    time = 24
  }

  withName: 'rename' {
    clusterOptions = '--account=nn10082k --job-name=rename'
    cpus = 1
    memory = '10 GB'
    time = 12
  }

  withName: 'normalise' {
    clusterOptions = '--account=nn10082k --job-name=norm2'
    cpus = 2
    memory = '12 GB'
    time = 12
  }

  withName: 'filter_vcf' {
    clusterOptions = '--account=nn10082k --job-name=filter'
    cpus = 2
    memory = '12 GB'
    time = 12
  }

  withName: 'cov' {
    clusterOptions = '--account=nn10082k --job-name=cov'
    cpus = 1
    memory = '12 GB'
    time = 12
  }

}
